# Object files
*.o
*.ko
*.obj
*.elf
*.d
*.lst
*.bin
*.dis
*.crf


# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Misc
*.map
*.m
*.png

# Eclipse CDT project files
.cproject
.project
.settings/

# STM32CubeIDE
Debug/

# vscode settings
.vscode/

# MDK-ARM
MDK-ARM/N_Light_Interim/
N_Light_Interim.uvguix.Weiyuan.Zhu

# STM32-for-vscode
.stm32ignore
STM32Make.make

# Vagrant directory
.vagrant/

# Include makefiles
!Makefile
*~

# Libraries
/lib
